<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Buda:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
</head>
<body>

<header>
	<h1>Mange un Grec</h1>
</header>

<div class="container">
	<ul class="tabs">
		<li class="tab-link current" data-tab="tab-1">Menu</li>
		<li class="tab-link" data-tab="tab-2">Présentation</li>
		<li class="tab-link" data-tab="tab-3">Nos offres actuelles</li>
	</ul>

	<div id="tab-1" class="tab-content current">
		Midi pressé entre collègues ou amis? Pas de problème. Le Restaurant Le Grec propose un menu midi rapide et délicieux. Chaque repas comprend une entrée, un plat principal au choix, suivi du dessert du jour et d’un café. Valide du lundi au vendredi de 11h à 14h sauf les jours féries.
	</div>
	<div id="tab-2" class="tab-content">
		 Le menu table d’hôte du Grec est un trois services. Il propose quatre choix d’entrées, neuf choix de plats principaux et un dessert du moment servis avec un café. Pour plus d’options de repas, consultez notre menu à la carte. S'ajoute à ça notre dessert maison à base de fromage et de miel, un régal !
	</div>
	<div id="tab-3" class="tab-content">
		Un sandwich grec classique qui se prépare à base de porc, de boeuf ou d'agneau avec des tomates et des oignons. De la tomate, de la salade, des oignons, de la feta, des olives noires, des concombres, vous trouverez toutes les bonnes choses grecques dans ce sandiwch. Sans être un désordre, tous ces ingrédients seront finement liés par une sauces maison dont la recette reste secrète.
		<br/>
	</div>
</div><!-- container -->

<br/>

<div>
 <div class="wrapper">
	 	<div class="slides">
	 		<img src="slide1.jpg">
	 		<img src="slide2.jpg">
	 		<img src="slide3.png">
	 	</div>

	 	<a class="previous">&#10094;</a>
	 	<a class="next">&#10095;</a>	 
 </div>
 <br/>

 <div style="text-align:center">
 	<span class="dots"></span>
 	<span class="dots"></span>
 	<span class="dots"></span>
 </div>
</div><!-- wrapper -->



</body>
</html>